.container_area {
    margin: 0px 0px 10px 18px;
    width: 1200;
    border-radius: 20px;
    padding: 0 0 0 0;
    border: 1px dashed var(--Strong-Purple);
    margin-bottom: 32px;
  }

  .graficos {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 32px;
  }
  
  .span-title {
    text-align: left;
    width: 1030px;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--Strong-Purple);
    padding: 25px 0px 0px 23px;
  }

  .title {
    text-align: center; 
    width: 1030px; 
    font-family: 'Manrope', sans-serif; 
    font-size: 28px; 
    font-weight: 600; 
    line-height: normal; 
    color: var(--Strong-Purple); 
  }