.form {
    position: relative;
    top: 50px;
    left: 232.55px;
}

.form-container {
    background-color: #CC25D81F;
    border-radius: 12px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 670px;
    height: 438px;
    gap: 0px;
    border-radius: 25px 25px 25px 25px;
    opacity: 0px;
}

.titlef {
    position: relative;
    left: 135px;
    bottom: 20px;
    font-size: 30px;
    color: var(--Strong-Purple);
}

.form-group {
    margin-bottom: 15px;
}

.form-label {

    display: block;
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
    position: relative;
    top: 30.2px;
    left: 65px;

}

.form-input {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--Strong-Purple);
    border-radius: 8px;
    background-color: #CC25D81F;
    color: black;
    font-size: 18px;
    position: relative;
    top: 30.2px;
    left: 65px;

}

.form-select {
    width: 500px;
    height: 40px;
    padding: 6px 10px;
    border: 1px solid var(--Strong-Purple);
    border-radius: 8px;
    background-color: #CC25D81F;
    color: black;
    font-size: 18px;
    appearance: none;
    position: relative;
    top: 30.2px;
    left: 65px;
}

.form-buttonG {
    background-color: var(--Strong-Purple); /* Color base */
    color: #fff; /* Texto blanco */
    padding: 12px 20px; /* Espaciado más generoso */
    border: none; /* Sin bordes */
    border-radius: 30px; /* Botón redondeado */
    font-size: 18px; /* Tamaño de fuente un poco mayor */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Manito en hover */
    width: 200px; /* Ancho del botón */
    height: 68px; /* Altura del botón */
    text-align: center; /* Centrar texto */
    position: relative;
    top: 50px;
    left: 215px;
    transition: background-color 0.3s, transform 0.2s; /* Animaciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
}
.form-buttonC {
    background-color: var(--Strong-Purple);
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 180px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 50px;
    left: 170px;
}

.form-button:hover {
    background-color: var(--Strong-Purple);
}
