.graficos {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 32px;
}

.span-title {
  text-align: left;
  width: 1030px;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Strong-Purple);
}

/* Menú de pestañas */
.tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  color: var(--Strong-Purple);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
  overflow: visible;
}

.tab:hover {
  background-color: var(--Light-Purple);
}

.active_tab {
  border-bottom: 5px solid var(--Strong-Purple);
}
